<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= userData.username %>'s Profile</title>
    <%- include('./layouts/links.ejs') %>
</head>
<body class="reset-body">
    <main class="bg-black w-full">
        <div>
            <section>
                <img src="<%= userData.profilePhotoUrl %>" alt="">
            </section>
            <section>
                <div></div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div></div>
            </section>
        </div>


    </main>
    <!-- include nav -->
    <%- include('./layouts/nav.ejs') %>
</body>
</html>