<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flare - <%= title %></title>
    <%- include('./layouts/links.ejs') %>
</head>
<body>
    <%- include('./layouts/nav.ejs') %>
    List Users Page!
</body>
</html>