@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    body{
        width: 100vw;
        height: 100vh;
    }
}

@layer components{
    .btn{
        @apply bg-red-500
    }

    .logo{
        color: #ffb62e;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 900;
        font-size: 2rem;
        user-select: none;
    }

    .link-header{
        @apply mx-0 w-16 h-full p-2 flex items-center justify-center
    }

    i{
        @apply text-xl text-secondary-950 dark:text-secondary-50
    }

    .reset-body{
        @apply dark:bg-secondary-900 dark:text-secondary-50 flex flex-col justify-center items-center h-full w-full
    }

    .button{
        @apply dark:bg-secondary-900 dark:text-secondary-50 p-3 bg-secondary-100 hover:bg-secondary-200 text-secondary-950 px-4 rounded-md hover:dark:bg-secondary-800 transition
        /* @apply dark:bg-primary-400 dark:text-primary-50 p-2 */
    }
}