@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        width: 100vw;
        height: 100vh;
    }
}

@layer components{
    .btn{
        @apply bg-red-500
    }

    .logo{
        color: #ffb62e;
        font-family: cursive;
        font-weight: 900;
        font-size: 2rem;
    }
}